@use 'helpers' as *;

:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-grey: #bababa;
    --color-orange: #FFB548;
    --color-red: #FF1313;


    --font-family-base: 'OpenSans', sans-serif;
    --font-family-accent: 'Oswald', sans-serif;

    --transition-duration: 0.2s;
    --border: rem(1) solid var(--color-grey);
    --box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.75);
    --radial-gradient: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    --linear-gredient: linear-gradient(rgba(0, 0, 0, 0.164));

    @include laptop {
        --container-width: #{rem(1280)};
    }
}